version: "3.8"

services:
  backend:
    build: ./backend
    environment:
      - PORT=3000
    deploy:
      replicas: 3

  loadbalancer:
    build: ./loadBalancer
    ports:
      - "8080:8080"
    depends_on:
      - backend
